[submodule "vendor/SPIRV-Cross"]
	path = vendor/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
	branch = vulkan-sdk-1.3.275
[submodule "vendor/shaderc"]
	path = vendor/shaderc
	url = https://github.com/google/shaderc
[submodule "vendor/SPIRV-Tools"]
	path = vendor/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "vendor/SPIRV-Headers"]
	path = vendor/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang
